
h2 {
    margin-bottom: 0%;
    padding: 0%;
}



.btnmaestros {
    display: none;
    font-size: 15px;
    text-decoration: none;
    color: #fff;
    background-color: steelblue;
    padding: .5em 1em;
    border-bottom-color: rgb(30, 68, 99);
    border-bottom-width: 2px;
    border-bottom-style: solid;
    transition: 0.3s;
    border-radius: 5px;
}

.btnjae {
    font-size: 15px;
    text-decoration: none;
    color: #fff;
    background-color: steelblue;
    padding: .5em 1em;
    border-bottom-color: rgb(30, 68, 99);
    border-bottom-width: 2px;
    border-bottom-style: solid;
    transition: 0.3s;
    border-radius: 5px;

}

.btnjae:hover {
    background-color: rgb(43, 87, 122);
}

#jae {
    background-color: rgba(0, 0, 0, 0.966);
    color: #fff;
    position: fixed;
    left: 0;
    top: -600vh;
    width: 100vw;
    height: 100vh;
    transition: all 1s;
    transition-timing-function: ease-in-out;
    z-index: 2;

}

#jae:target {
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
}

.cerrarjae {
    display: flex;
    position: absolute;
    top: 10px;
    right: 10px;
    padding: .6em;
    background-color: tomato;
    color: #fff;
    text-decoration: none;
    font-size: .9em;
    box-sizing: border-box;
    border-radius: 100%;
}

.abrirjae {
    display: flex;
    justify-content: center;
    align-items: center;

}

.abrirjae p {
    font-size: 1.3vw;
    width: 70%;
    text-align: center;
    margin-left: 20px;
}

.abrirjae img {
    width: 20vw;
    border: 1px solid gold;
}

.btnstrong {
    font-size: 15px;
    text-decoration: none;
    color: #fff;
    background-color: steelblue;
    padding: .5em 1em;
    border-bottom-color: rgb(30, 68, 99);
    border-bottom-width: 2px;
    border-bottom-style: solid;
    transition: 0.3s;
    border-radius: 5px;
}

.btnstrong:hover {
    background-color: rgb(43, 87, 122);
}

#strong {
    background-color: rgba(0, 0, 0, 0.966);
    color: #fff;
    position: fixed;
    left: 0;
    top: -600vh;
    width: 100vw;
    height: 100vh;
    transition: all 1s;
    transition-timing-function: ease-in-out;
    z-index: 2;

}

#strong:target {
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
}

.cerrarstrong {
    display: flex;
    position: absolute;
    top: 10px;
    right: 10px;
    padding: .6em;
    background-color: tomato;
    color: #fff;
    text-decoration: none;
    font-size: .9em;
    box-sizing: border-box;
    border-radius: 100%;
}

.abrirstrong {
    display: flex;
    justify-content: center;
    align-items: center;

}

.abrirstrong p {
    font-size: 1.3vw;
    width: 70%;
    text-align: center;
    margin-left: 20px;
}

.abrirstrong img {
    width: 20vw;
    border: 1px solid gold;
}

.btnbeaudoin {
    font-size: 15px;
    text-decoration: none;
    color: #fff;
    background-color: steelblue;
    padding: .5em 1em;
    border-bottom-color: rgb(30, 68, 99);
    border-bottom-width: 2px;
    border-bottom-style: solid;
    transition: 0.3s;
    border-radius: 5px;
}

.btnbeaudoin:hover {
    background-color: rgb(43, 87, 122);
}


#beaudoin {
    background-color: rgba(0, 0, 0, 0.966);
    color: #fff;
    position: fixed;
    left: 0;
    top: -600vh;
    width: 100vw;
    height: 100vh;
    transition: all 1s;
    transition-timing-function: ease-in-out;
    z-index: 2;

}

#beaudoin:target {
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
}

.cerrarbeaudoin {
    display: flex;
    position: absolute;
    top: 10px;
    right: 10px;
    padding: .6em;
    background-color: tomato;
    color: #fff;
    text-decoration: none;
    font-size: .9em;
    box-sizing: border-box;
    border-radius: 100%;
}

.abrirbeaudoin {
    display: flex;
    justify-content: center;
    align-items: center;

}

.abrirbeaudoin img {
    width: 20vw;
    border: 1px solid gold;
}

.abrirbeaudoin p {
    font-size: 1.3vw;
    width: 70%;
    text-align: center;
    margin-left: 20px;
}




.card-body {
    display: flex;
    justify-content: center;
}


.btnMarian,
.btnLucas,
.btnRocio {
    display: flex;
    justify-content: center;
    position: relative;
    width: auto;
    font-size: 1.2vw;
    text-decoration: none;
    color: #fff;
    background-color: steelblue;
    padding: .5em 1em;
    border-bottom-color: rgb(30, 68, 99);
    border-bottom-width: 2px;
    border-bottom-style: solid;
    transition: 0.3s;
    border-radius: 5px;

}

.btnMarian:hover,
.btnLucas:hover,
.btnRocio:hover {
    background-color: rgb(43, 87, 122);
}

#marian,
#lucas {
    display: flex;
    background-color: rgba(0, 0, 0, 0.966);
    color: #fff;
    position: absolute;
    left: -150vw;
    top: -31vh;
    width: 100vw;
    height: 100vh;
    transition: all 1s;
    transition-timing-function: ease-in-out;
    z-index: 6;


}

#rocio {
    display: flex;
    background-color: rgba(0, 0, 0, 0.966);
    color: #fff;
    position: absolute;
    left: -200vw;
    top: -31vh;
    width: 100vw;
    height: 100vh;
    transition: all 1s;
    transition-timing-function: ease-in-out;
    z-index: 6;

}

#marian:target,
#lucas:target,
#rocio:target {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    left: -5.69vw;
    transition: all 1s;

}


.cerrarMarian,
.cerrarLucas,
.cerrarRocio {
    display: flex;
    position: absolute;
    top: 10px;
    right: 10px;
    padding: .6em;
    background-color: tomato;
    color: #fff;
    text-decoration: none;
    font-size: .9em;
    box-sizing: border-box;
    border-radius: 100%;
    transition: all 1s;
}

.abrirMarian,
.abrirLucas,
.abrirRocio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 1s;

}

.abrirMarian p,
.abrirLucas p,
.abrirRocio p {
    font-size: 18px;
    width: 70%;
    text-align: center;
}



























#contacto,
#eventos,
#tangSoo,
#escuela {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 57px;
    line-height: 25px;
    border-left: solid rgba(255, 255, 255, 0.116) 1px;
    border-bottom: 2px solid black;
    background-color: rgba(0, 0, 0, 0.864);

}

#escuela:hover,
#tangSoo:hover,
#eventos:hover,
#contacto:hover {
    background-color: rgba(0, 0, 0, 0.959);
    cursor: pointer;
    color: white;
}

#escuela:hover {
    text-shadow: 1px 1px 2px black, 0 0 25px rgb(255, 0, 0), 0 0 5px rgb(184, 50, 50);
}

#escuela:active {
    background-color: rgba(92, 0, 0, 0.795);
}

#tangSoo:hover {

    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px rgb(12, 12, 153);

}

#tangSoo:active {
    background-color: rgba(1, 1, 48, 0.733);
}

#eventos:hover {

    text-shadow: 1px 1px 2px black, 0 0 15px yellow, 0 0 5px rgba(133, 133, 8, 0.616);

}

#eventos:active {
    background-color: rgba(63, 63, 2, 0.582);
}

#contacto:hover {
    text-shadow: 1px 1px 2px black, 0 0 15px rgb(255, 253, 253), 0 0 5px rgba(255, 255, 255, 0.493);
}

#contacto:active {
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
    text-shadow: 1px 1px 2px rgb(0, 0, 0), 0 0 15px rgba(0, 0, 0, 0.884), 0 0 5px rgba(0, 0, 0, 0.712);
}








p {
    font-size: 2vw;
}

h1 {
    font-weight: bold;
}

h5 {
    font-weight: bold;
    font-size: 5vw;
}



















.contacto__ins,
.contacto__wpp,
.contacto__fb {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    padding-bottom: 85px;

}


.contacto__ins a,
.contacto__wpp a,
.contacto__fb a {
    width: 60%;
}


.contacto__ins img,
.contacto__wpp img,
.contacto__fb img {
    width: 100%;
    height: 80%;
    margin-bottom: 70px;
    animation: flotar 3s infinite;
    animation-timing-function: linear;
    transition: width 0.5s, animation 0.5s;
}



.contacto__ins img:hover,
.contacto__wpp img:hover,
.contacto__fb img:hover {
    width: 130%;
    animation: none;

}


.contacto__ins a:hover+.sombra,
.contacto__wpp a:hover+.sombra,
.contacto__fb a:hover+.sombra {
    display: none;

}


@keyframes flotar {
    from {
        transform: translateY(0);

    }

    50% {
        transform: translateY(80px);

    }

    100% {
        transform: translateY(0)
    }



}

@keyframes sombra {
    0% {
        transform: scale(.8);
    }

    100% {
        transform: scale(1.3);
    }
}

.sombra {
    margin-left: 10px;
    max-width: 100px;
    width: 30%;
    height: 5px;
    background-color: #000;
    border-radius: 50%;
    animation: sombra 1.5s alternate infinite linear;
    transition: background-color 0.5s;

}

/* Estilos para keyframes*/

@keyframes bajar {
    from {
        transform: translateY(-80px);
    }

    to {
        transform: translateY(0);
    }
}

@keyframes izquierda {
    from {
        transform: translateX(-190px);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes aparecer {
    from {
        transform: scale(0);

    }

    to {
        transform: scale(1);
    }
}































/*Estilos para media qwery*/

.h1media {
    color: rgb(243, 243, 243);
}


@media screen and (max-width: 1024px) {
    .main2__asociacionMundial {
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }
}

#marian,
#lucas,
#rocio {
    transform: translateX(-20px);
}


@media screen and (max-width: 1100px) {
    .header__carrousel {
        height: 50vh;
    }

    .header__carrousel .carousel-item img {
        object-fit: contain;
    }
}







@media screen and (max-width: 768px) {
    .inicio {
        grid-template-rows: 2fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: "logo"
            "escuela"
            "tangsoo"
            "eventos"
            "contacto";
    }

    main {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

    }



    .logo1,
    .logo2,
    .logo3,
    .logo4 {
        height: 46px;
    }

    #logo1__img {
        height: 110px;
        transform: translateY(-30px);
        justify-content: center;
    }



    .separador {
        width: 100%;
        height: 100vh;
        background-color: red;

    }

    .separador__frase {
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
        text-align: center;
        position: relative;
        z-index: 2;
        background-color: red;
    }

    .separador__frase h2 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        height: 100vh;
        border-top: #000 5px solid;
        border-bottom: #000 5px solid;
        background-image: url(../recursos/img_logo.jpg);
        background-repeat: no-repeat;
        background-position: top left;
        background-size: 150px;
    }

    .imgseparador {
        display: none;
    }

    .tramadoOndas {
        height: 60%;
    }

    .tramadoOndas__texto {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        text-align: center;
        padding: 0%;

    }

    #marian,
    #lucas,
    #rocio {
        transform: translate(-20px, 50px);

    }

    .nuestraEscuela {
        background-color: #000;

    }

    .nuestraEscuela__parallax {
        background-attachment: inherit;
        background-position: center;

    }

    .nuestraEscuela__historia {
        background-color: rgba(0, 0, 0, 0.692);
    }

    .nuestraEscuela__historia--historia {
        display: flex;
        align-items: center;
    }


    .btnjae,
    .btnbeaudoin,
    .btnstrong {
        display: none;
    }

    .btnmaestros {
        display: block;
    }


    footer {
        background-size: cover;
        background-position: center;
    }

    .footer__contenido {
        justify-content: center;

    }

    .footer__contenido--mapa {
        display: none;

    }

    /*estilos para tangsoo*/
    .main2__header {
        background-position-y: 0px;
        background-position: center
    }

}





@media screen and (min-width: 769px) {



    .navbar {
        display: none;
    }


    .main2__header {
        background-position-y: 0px;
        background-position: center;
    }

    .nuestraEscuela{
        background-color: #000;

    }

    .nuestraEscuela__parallax {
        background-attachment: inherit;
        background-position: center;

    }

    .nuestraEscuela__historia {
        background-color: rgba(0, 0, 0, 0.692);
    }

    .nuestraEscuela__historia--historia {
        align-items: center;
    }
}





@media screen and (max-width: 768px) {

    nav {
        background-color: rgb(187, 37, 37);
        border-bottom: 2px solid black;
    }

    .nav4,
    .nav3,
    .nav2,
    .nav1 {
        visibility: hidden;
    }


    .header4 {
        max-height: 50px;

    }

    #logo__img {
        background-color: transparent;
        height: auto;
        transform: translateY(-20px);
    }

    #logo__img img {
        min-height: 60px;
        min-width: 60px;
    }

    .offcanvas {
        bottom: auto;
    }

    #offcanvasNavbar {
        background-color: rgba(0, 0, 0, 0.959);
        color: white;
        height: 100vh;

    }


    .contacto__fb,
    .contacto__ins,
    .contacto__wpp {
        justify-content: space-around;
        padding-bottom: 0px;

    }

    #escuela:hover,
    #tangSoo:hover,
    #eventos:hover,
    #contacto:hover {
        cursor: pointer;
        color: white;
    }

    #contacto,
    #eventos,
    #tangSoo,
    #escuela {
        border-bottom: 2px solid #ffffff12;
        border-left: none;
        background-color: transparent;

    }

    .btn-close {
        background-color: white;
        align-self: flex-start;
    }

    .btnbeaudoin,
    .btnjae,
    .btnstrong {
        padding: .5em .5em;
    }

    .tramadoOndas section {
        height: 100%;
    }

}


@media screen and (max-width: 600px) {
    .header__carrousel {
        height: 30vh;
    }

    .header__carrousel .carousel-item img {
        object-fit: contain;

    }

    .abrirjae,
    .abrirbeaudoin,
    .abrirstrong {
        top: -1000px;
    }
}


@media screen and (max-width: 576px) {
    .yinyang {
        margin-bottom: 0px;
        margin-top: 0px;
    }

    .yinyang img {
        margin-top: 100px;
    }

    .main2__asociacionMundial {
        height: 200vh;
    }

    .asociacionMundial__contenedor {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .main2__maestros {
        height: 40vh;
    }
}




@media screen and (max-width: 425px) {

    .danes .card {
        flex-direction: column;
        justify-content: center;
        transform: translateY(0px);
    }

    .btnMarian,
    .btnLucas,
    .btnRocio {
        width: auto;
        font-size: 3vw;
    }

    .danes .card a {
        height: 8vw;
    }

    #marian,
    #lucas,
    #rocio {
        transform: translate(-25px, -140px);

    }

    .main2__viejaHistoria {
        height: 100vh;
    }
}