* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

.row > * {
  flex-shrink: 0;
  max-width: 100%;
  padding-right: 0px;
  padding-left: 0px;
  margin-top: 0px;
}

.container-fluid {
  margin: 0%;
  padding: 0%;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin: 0px;
  font-weight: 600;
  line-height: auto;
}

/*Variables de mixin*/
/*Variables de Elementos*/
.nuestraEscuela .nuestraEscuela__parallax .nuestraEscuela__historia p::-webkit-scrollbar {
  background-color: transparent;
  width: 10px;
}

.nuestraEscuela .nuestraEscuela__parallax .nuestraEscuela__historia p::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.719);
  border-radius: 5px;
  border: 0.25em rgba(128, 128, 128, 0.801);
}

.nuestraEscuela .nuestraEscuela__parallax .nuestraEscuela__historia p::-webkit-scrollbar-corner {
  display: none;
}

header nav .row #logo__img {
  max-height: 57px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  position: relative;
  padding-left: 0px;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.664);
  overflow: visible;
  border-bottom: 2px solid black;
}

header nav .row #logo__img img {
  height: 11vw;
  position: relative;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-animation: izquierda 1.2s linear forwards;
          animation: izquierda 1.2s linear forwards;
  top: -10px;
}

/*Variables de Colores*/
body {
  font-family: "Francois One", sans-serif;
  overflow: overlay;
}
body::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
}
body::-webkit-scrollbar-thumb {
  background-color: darkred;
  border-radius: 5px;
  border: 0.25em rgba(128, 128, 128, 0.801);
}

.body__contacto {
  background-image: url(../recursos/manual.jpg);
  background-size: cover;
  height: 100vh;
  display: grid;
  grid-template-areas: "header" "main";
}

.logo {
  grid-area: logo;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  -webkit-animation-name: rotate;
          animation-name: rotate;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-play-state: running;
          animation-play-state: running;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}
.logo .spinner-grow {
  z-index: 1;
}

.escuela, .tangSoo, .eventos, .contacto {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.664);
  border-left: solid rgba(255, 255, 255, 0.116) 1px;
  border-radius: 25px;
}

.escuela:hover, .tangSoo:hover, .eventos:hover, .contacto:hover {
  color: white;
  background-color: rgba(0, 0, 0, 0.864);
  cursor: pointer;
  transition: 0.2s;
}

.contacto {
  grid-area: contacto;
  border-top: solid rgba(255, 255, 255, 0.116) 1px;
  border-left: 0px;
  border-radius: 0px;
}
.contacto:hover {
  text-shadow: 1px 1px 2px black, 0 0 15px rgb(255, 253, 253), 0 0 5px rgba(255, 255, 255, 0.493);
}
.contacto:active {
  color: black;
  text-shadow: 1px 1px 2px black, 0 0 15px rgba(0, 0, 0, 0.884), 0 0 5px rgba(0, 0, 0, 0.712);
  background-color: rgba(255, 255, 255, 0.5254901961);
}

.escuela {
  grid-area: escuela;
}
.escuela:hover {
  text-shadow: 1px 1px 2px black, 0 0 25px rgb(255, 0, 0), 0 0 5px rgb(184, 50, 50);
}
.escuela:active {
  background-color: rgba(92, 0, 0, 0.7960784314);
}

.tangSoo {
  grid-area: tangsoo;
}
.tangSoo:hover {
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px #0c0c99;
}
.tangSoo:active {
  background-color: rgba(1, 1, 50, 0.7333333333);
}

.eventos {
  grid-area: eventos;
}
.eventos:hover {
  text-shadow: 1px 1px 2px black, 0 0 15px yellow, 0 0 5px rgba(133, 133, 8, 0.616);
}
.eventos:active {
  background-color: rgba(133, 133, 8, 0.6156862745);
}

#main__principal {
  background-image: url(https://i.ibb.co/jfYxt5z/pisoasociacion.png);
  background-size: cover;
  background-position: center;
}
#main__principal .inicio {
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 1fr 0.2fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: "logo     logo     escuela tangsoo eventos" "logo     logo     escuela tangsoo eventos" "contacto contacto contacto contacto contacto";
}
#main__principal .inicio a {
  text-decoration: none;
  font-weight: bold;
  text-align: center;
}

.animate-border {
  position: relative;
  width: 115px;
  height: 3px;
  background: #007bff;
}

.animate-border:after {
  position: absolute;
  content: "";
  height: 3px;
  left: 0;
  bottom: 0;
  border-left: 10px solid #fff;
  -webkit-animation: animborder 2s linear infinite;
          animation: animborder 2s linear infinite;
  animation: animborder 2s linear infinite;
}

@-webkit-keyframes animborder {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(113px);
  }
}

@keyframes animborder {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(113px);
  }
}
.dk-footer {
  padding: 75px 0 0;
  background-color: #151414;
  z-index: 6;
}

.dk-footer .contact-us {
  padding-left: 80px;
}

.dk-footer .contact-us .contact-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-left: 50px;
}

.dk-footer-box-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #202020;
  padding: 40px;
  z-index: 1;
}

.dk-footer-box-info .footer-social-link h3 {
  color: #fff;
  font-size: 24px;
  margin-bottom: 25px;
}

.dk-footer-box-info .footer-social-link li {
  display: inline-block;
}

.dk-footer-box-info .footer-social-link a i {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  background: #000;
  margin-right: 5px;
  color: #fff;
}

.dk-footer-box-info .footer-social-link a i.fa-facebook {
  background-color: #3B5998;
}

.dk-footer-box-info .footer-social-link a i.fa-twitter {
  background-color: #55ACEE;
}

.dk-footer-box-info .footer-social-link a i.fa-google-plus {
  background-color: #DD4B39;
}

.dk-footer-box-info .footer-social-link a i.fa-linkedin {
  background-color: #0976B4;
}

.dk-footer-box-info .footer-social-link a i.fa-instagram {
  background-color: #B7242A;
}

.footer-widget .section-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
}

.footer-widget iframe {
  width: 100%;
}

.contact-info {
  color: #fff;
}
.contact-info ul {
  list-style: none;
  line-height: 30px;
  text-align: center;
  padding-left: 0px;
}
.contact-info ul a {
  color: white;
}
.contact-info ul a:hover {
  color: darkred;
}

.copyright {
  padding: 28px 0;
  margin-top: 55px;
  background-color: #202020;
}

.copyright span {
  color: #878787;
}

.back-to-top {
  z-index: 9;
  position: relative;
  z-index: 2;
}

.back-to-top .btn-dark {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: darkred;
  border-color: #2e2e2e;
  transition: all 0.3s linear;
}

.back-to-top .btn-dark:hover {
  cursor: pointer;
  background: #FA6742;
  border-color: #FA6742;
}

header nav .row {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
header nav .row a {
  color: white;
  text-align: center;
}
header nav .navbar-toggler {
  border: none;
}

#contacto,
#eventos,
#tangSoo,
#escuela {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 57px;
  line-height: 25px;
  border-left: solid rgba(255, 255, 255, 0.116) 1px;
  border-bottom: 2px solid black;
  background-color: rgba(0, 0, 0, 0.664);
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 1px;
}
#contacto:hover,
#eventos:hover,
#tangSoo:hover,
#escuela:hover {
  background-color: rgba(0, 0, 0, 0.959);
  cursor: pointer;
}

#escuela:hover {
  text-shadow: 1px 1px 2px black, 0 0 25px rgb(255, 0, 0), 0 0 5px rgb(184, 50, 50);
  transition: 0.3s;
}

#escuela:active {
  background-color: rgba(92, 0, 0, 0.795);
}

#tangSoo:hover {
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px rgb(12, 12, 153);
  transition: 0.3s;
}

#tangSoo:active {
  background-color: rgba(1, 1, 48, 0.733);
}

#eventos:hover {
  text-shadow: 1px 1px 2px black, 0 0 15px yellow, 0 0 5px rgba(133, 133, 8, 0.616);
  transition: 0.3s;
}

#eventos:active {
  background-color: rgba(63, 63, 2, 0.582);
}

#contacto:hover {
  text-shadow: 1px 1px 2px black, 0 0 15px rgb(255, 253, 253), 0 0 5px rgba(255, 255, 255, 0.493);
  transition: 0.3s;
}

#contacto:active {
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
  text-shadow: 1px 1px 2px rgb(0, 0, 0), 0 0 15px rgba(0, 0, 0, 0.884), 0 0 5px rgba(0, 0, 0, 0.712);
  transition: 0.3s;
}

.h1media {
  text-align: center;
}

#offcanvasNavbar {
  background-color: rgba(0, 0, 0, 0.959);
  color: white;
  height: 80vh;
  width: 60%;
}
#offcanvasNavbar .offcanvas-body {
  padding: 0px;
}

.nav-item #contacto,
.nav-item #escuela,
.nav-item #tangSoo,
.nav-item #eventos {
  color: white;
  font-size: 1em;
  border-bottom: 1px solid rgba(255, 255, 255, 0.096);
}

.offcanvas-header .btn-close {
  background-color: white;
  height: 2vh;
  width: 3vw;
}

@-webkit-keyframes rotate {
  from {
    background-image: url(https://i.ibb.co/VVsCC42/logotipo.png);
    background-position: center;
    background-size: 90%;
    transform: rotatey(0deg);
  }
  100% {
    background-image: url(https://i.ibb.co/Symszvt/logowtsd1.png);
    background-size: 90%;
    background-position: center;
    transform: rotatey(180deg);
  }
}

@keyframes rotate {
  from {
    background-image: url(https://i.ibb.co/VVsCC42/logotipo.png);
    background-position: center;
    background-size: 90%;
    transform: rotatey(0deg);
  }
  100% {
    background-image: url(https://i.ibb.co/Symszvt/logowtsd1.png);
    background-size: 90%;
    background-position: center;
    transform: rotatey(180deg);
  }
}
@-webkit-keyframes yinyang {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}
@keyframes yinyang {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}
@-webkit-keyframes nubes {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: 100vw;
  }
}
@keyframes nubes {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: 100vw;
  }
}
@-webkit-keyframes scalenubes {
  from {
    transform: scale(1);
  }
  50% {
    transform: scale(1.02);
  }
}
@keyframes scalenubes {
  from {
    transform: scale(1);
  }
  50% {
    transform: scale(1.02);
  }
}
@-webkit-keyframes flotar {
  from {
    transform: translateY(0);
  }
  50% {
    transform: translateY(80px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes flotar {
  from {
    transform: translateY(0);
  }
  50% {
    transform: translateY(80px);
  }
  100% {
    transform: translateY(0);
  }
}
@-webkit-keyframes sombra {
  0% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1.3);
  }
}
@keyframes sombra {
  0% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1.3);
  }
}
@-webkit-keyframes bajar {
  from {
    transform: translateY(-80px);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes bajar {
  from {
    transform: translateY(-80px);
  }
  to {
    transform: translateY(0);
  }
}
@-webkit-keyframes izquierda {
  from {
    transform: translateX(-190px);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes izquierda {
  from {
    transform: translateX(-190px);
  }
  to {
    transform: translateX(0);
  }
}
@-webkit-keyframes aparecer {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
@keyframes aparecer {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
@-webkit-keyframes start {
  0% {
    justify-content: center;
  }
  100% {
    justify-content: flex-start;
  }
}
@keyframes start {
  0% {
    justify-content: center;
  }
  100% {
    justify-content: flex-start;
  }
}
@-webkit-keyframes slidein {
  0% {
    margin-left: -300vw;
  }
  20% {
    margin-left: -300vw;
  }
  35% {
    margin-left: 0px;
  }
  100% {
    margin-left: 0px;
  }
}
@keyframes slidein {
  0% {
    margin-left: -300vw;
  }
  20% {
    margin-left: -300vw;
  }
  35% {
    margin-left: 0px;
  }
  100% {
    margin-left: 0px;
  }
}
@-webkit-keyframes reveal {
  0% {
    opacity: 0;
    width: 0px;
  }
  20% {
    opacity: 1;
    width: 0px;
  }
  30% {
    width: 50%;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    width: 50%;
  }
}
@keyframes reveal {
  0% {
    opacity: 0;
    width: 0px;
  }
  20% {
    opacity: 1;
    width: 0px;
  }
  30% {
    width: 50%;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    width: 50%;
  }
}
@-webkit-keyframes showup {
  0% {
    text-shadow: 0px 0px 2px white;
  }
  25% {
    text-shadow: 0px 0px 4px white;
  }
  50% {
    text-shadow: 0px 0px 5px white;
  }
  60% {
    text-shadow: 0px 0px 5px white;
  }
  75% {
    text-shadow: 0px 0px 4px white;
  }
  100% {
    text-shadow: 0px 0px 2px white;
  }
}
@keyframes showup {
  0% {
    text-shadow: 0px 0px 2px white;
  }
  25% {
    text-shadow: 0px 0px 4px white;
  }
  50% {
    text-shadow: 0px 0px 5px white;
  }
  60% {
    text-shadow: 0px 0px 5px white;
  }
  75% {
    text-shadow: 0px 0px 4px white;
  }
  100% {
    text-shadow: 0px 0px 2px white;
  }
}
@-webkit-keyframes slideinF {
  0% {
    margin-left: 300vw;
  }
  20% {
    margin-left: 300vw;
  }
  35% {
    margin-left: 0px;
  }
  50% {
    margin-left: 0px;
  }
  65% {
    margin-left: 0px;
  }
  80% {
    margin-left: 0px;
  }
  100% {
    margin-left: -150vw;
  }
}
@keyframes slideinF {
  0% {
    margin-left: 300vw;
  }
  20% {
    margin-left: 300vw;
  }
  35% {
    margin-left: 0px;
  }
  50% {
    margin-left: 0px;
  }
  65% {
    margin-left: 0px;
  }
  80% {
    margin-left: 0px;
  }
  100% {
    margin-left: -150vw;
  }
}
@-webkit-keyframes slideinE {
  0% {
    margin-left: -150vw;
  }
  20% {
    margin-left: -150vw;
  }
  35% {
    margin-left: 0px;
  }
  50% {
    margin-left: 0px;
  }
  65% {
    margin-left: 0px;
  }
  80% {
    margin-left: 0px;
  }
  100% {
    margin-left: 300vw;
  }
}
@keyframes slideinE {
  0% {
    margin-left: -150vw;
  }
  20% {
    margin-left: -150vw;
  }
  35% {
    margin-left: 0px;
  }
  50% {
    margin-left: 0px;
  }
  65% {
    margin-left: 0px;
  }
  80% {
    margin-left: 0px;
  }
  100% {
    margin-left: 300vw;
  }
}
.header__carrousel {
  z-index: -1;
}
.header__carrousel .carousel-item img {
  width: 100%;
  height: 100vh;
}

.carrouselDaniel {
  display: flex;
  flex-direction: column-reverse;
  z-index: 0;
  width: 40vw;
  height: 60%;
}

.carrouselDaniel__inner {
  border: 1px solid rgba(0, 0, 0, 0.726);
  box-shadow: 1px 0.5px 3px black;
}

.headerMedia {
  display: none;
}

hr {
  height: 5px;
  margin: 0%;
  opacity: 1;
  position: relative;
  border: 3px solid #000;
  border-radius: 300px/10px;
  background-color: gold;
}

.gold {
  position: relative;
  width: 100%;
  border: 3px solid rgb(224, 191, 3);
  border-radius: 300px/10px;
}

.separador {
  height: 100%;
  width: 100%;
  z-index: 1;
}
.separador__frase {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100%;
  text-align: center;
  position: relative;
  z-index: 2;
  background-color: black;
}
.separador__frase h2 {
  position: absolute;
  width: 100%;
  z-index: 2;
  font-size: 5vw;
  -webkit-animation: fontsize 0.5 linear forwards;
          animation: fontsize 0.5 linear forwards;
  color: white;
  margin-bottom: 0;
}
.separador__frase--back {
  position: relative;
  width: 100%;
  height: 30px;
  background-color: red;
}
.separador__frase--img {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 210px;
  flex-wrap: wrap;
  overflow-x: hidden;
  overflow-y: hidden;
  max-width: 100%;
  max-height: 100%;
  z-index: 1;
  position: absolute;
  text-align: center;
  transform: translatey(-170px);
  padding-top: 20px;
}
.separador__frase--img img {
  -webkit-animation: aparecer 0.6s linear forwards;
          animation: aparecer 0.6s linear forwards;
}

.tramado {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 180vh;
  background-image: url(../recursos/tramadoondas.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}
.tramado .tramadoAzul {
  width: 50%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(0, 4, 211, 0.719);
  border: 15px solid rgba(0, 4, 211, 0.212);
  padding-right: 10px;
  box-shadow: 7px 7px 15px rgb(1, 1, 97);
}
.tramado .tramadoAzul .tramadoAzul__texto {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  overflow: hidden;
  align-items: center;
  padding-top: 50px;
}
.tramado .tramadoAzul .tramadoAzul__texto .maestroTitulo {
  width: 90%;
  display: flex;
  justify-content: center;
  font-size: 2.5vw;
  font-weight: 600;
  color: black;
  text-transform: uppercase;
  -webkit-animation: margin 0.1s forwards ease-in;
          animation: margin 0.1s forwards ease-in;
  margin-bottom: 5%;
  margin-left: -50px;
}
.tramado .tramadoAzul .tramadoAzul__texto .maestroTitulo div {
  display: flex;
  justify-content: space-around;
  white-space: nowrap;
  text-shadow: 0px 0px 2px white;
}
.tramado .tramadoAzul .tramadoAzul__texto .maestroTitulo .maestro {
  width: 20%;
  -webkit-animation: reveal 7s infinite linear;
          animation: reveal 7s infinite linear;
}
.tramado .tramadoAzul .tramadoAzul__texto .maestroTitulo .ayalaDaniel {
  -webkit-animation: reveal 7s infinite;
          animation: reveal 7s infinite;
}
.tramado .tramadoAzul .tramadoAzul__texto .maestroTitulo .ayalaDaniel span {
  -webkit-animation: slidein 7s infinite;
          animation: slidein 7s infinite;
}
.tramado .tramadoAzul .tramadoAzul__texto p {
  font-size: 1em;
  overflow: scroll;
  padding: 8%;
  color: black;
  align-self: center;
}
.tramado .tramadoAzul .tramadoAzul__texto p::-webkit-scrollbar {
  background-color: transparent;
  width: 10px;
}
.tramado .tramadoAzul .tramadoAzul__texto p::-webkit-scrollbar-thumb {
  background-color: rgba(211, 7, 0, 0.719);
  border-radius: 5px;
  border: 0.25em rgba(128, 128, 128, 0.801);
}
.tramado .tramadoAzul .tramadoAzul__texto p::-webkit-scrollbar-corner {
  display: none;
}

.tramadoNegro {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 220vh;
  background-color: black;
  padding-top: 10%;
  padding-bottom: 10%;
}
.tramadoNegro::before {
  content: "";
  background-image: url(../recursos/tramadoondas.jpg);
  background-position-x: -5px;
  background-position-y: -210px;
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.25;
  z-index: 1;
}
.tramadoNegro .tramadoRojo {
  width: 90%;
  height: 90%;
  display: flex;
  align-items: flex-start;
  background-color: rgba(248, 14, 6, 0.575);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  z-index: 1;
  border: 15px solid rgba(139, 4, 4, 0.589);
  padding-right: 15px;
  padding-left: 15px;
  box-shadow: 7px 7px 15px rgb(66, 3, 3);
  gap: 20%;
}
.tramadoNegro .tramadoRojo .danesTitulo {
  width: 100%;
  color: #000;
  margin-top: 50px;
  text-align: center;
  text-shadow: 0px 0px 5px white;
  font-weight: bold;
  font-size: 6em;
  -webkit-animation: showup 2s infinite ease-in-out;
          animation: showup 2s infinite ease-in-out;
  text-transform: uppercase;
}
.tramadoNegro .tramadoRojo .danes1 {
  display: flex;
  align-items: start;
  justify-content: space-around;
  width: 100%;
  height: 100%;
}
.tramadoNegro .tramadoRojo .danes1 .marian {
  width: 30%;
  height: 90vh;
  background-image: url(../recursos/danmarianlargo.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 5px;
  box-shadow: 0px 0px 5px black;
  border-left: 1px solid white;
}
.tramadoNegro .tramadoRojo .danes1 .marian:hover {
  filter: brightness(0.6);
}
.tramadoNegro .tramadoRojo .danes1 .lucas {
  width: 30%;
  height: 90vh;
  background-image: url(../recursos/danlucaslargo.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 5px;
  box-shadow: 0px 0px 5px black;
  border-left: 1px solid white;
}
.tramadoNegro .tramadoRojo .danes1 .lucas:hover {
  filter: brightness(0.6);
}
.tramadoNegro .tramadoRojo .danes1 .rocio {
  width: 30%;
  height: 90vh;
  background-image: url(../recursos/danrociolargo.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 5px;
  box-shadow: 0px 0px 5px black;
  border-left: 1px solid white;
}
.tramadoNegro .tramadoRojo .danes1 .rocio:hover {
  filter: brightness(0.6);
}

.dan {
  background-color: white;
  height: 80vh;
}
.dan .modal-header {
  background-color: darkred;
}
.dan .modal-header .modal-title {
  width: 100%;
  height: 100%;
  color: white;
}
.dan .modal-footer {
  border-top: 2px solid black;
  background-color: rgb(182, 182, 182);
}

.nuestraEscuela {
  border-top: 2px solid black;
  position: relative;
  width: 100%;
  height: 200vh;
  padding-top: 10%;
  padding-bottom: 10%;
  background-image: url(../recursos/escuelacom.jpeg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.nuestraEscuela .nuestraEscuela__parallax {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.nuestraEscuela .nuestraEscuela__parallax::before {
  content: "";
  background-image: url(https://i.ibb.co/VVsCC42/logotipo.png);
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0.7;
  width: 20%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 3%;
}
.nuestraEscuela .nuestraEscuela__parallax::after {
  content: "";
  background-image: url(https://i.ibb.co/Symszvt/logowtsd1.png);
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0.7;
  width: 13%;
  height: 100%;
  position: absolute;
  right: 50px;
  top: 5.5%;
  transform: rotatey(180deg);
}
.nuestraEscuela .nuestraEscuela__parallax .nuestraEscuela__historia {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.nuestraEscuela .nuestraEscuela__parallax .nuestraEscuela__historia .nuestraEscuela__historiaTitulo {
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  overflow: hidden;
}
.nuestraEscuela .nuestraEscuela__parallax .nuestraEscuela__historia .nuestraEscuela__historiaTitulo .nuestraE {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  flex-wrap: nowrap;
  -webkit-animation: slideinE 7s infinite, reveal1 7s infinite;
          animation: slideinE 7s infinite, reveal1 7s infinite;
}
.nuestraEscuela .nuestraEscuela__parallax .nuestraEscuela__historia .nuestraEscuela__historiaTitulo .nuestraF {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  flex-wrap: nowrap;
  -webkit-animation: slideinF 7s infinite, reveal1 7s infinite;
          animation: slideinF 7s infinite, reveal1 7s infinite;
}
.nuestraEscuela .nuestraEscuela__parallax .nuestraEscuela__historia .nuestraEscuela__historiaTitulo h5 {
  width: 100%;
  text-shadow: 3px 2px 2px rgb(126, 126, 126);
  text-align: center;
  font-weight: bold;
  font-size: 5em;
  color: white;
}
.nuestraEscuela .nuestraEscuela__parallax .nuestraEscuela__historia p {
  color: white;
  background-color: rgba(0, 0, 0, 0.514);
  overflow-y: scroll;
  width: 80%;
  height: 60%;
  text-align: center;
  box-shadow: 0px 2px 50px rgb(100, 100, 100);
  padding: 5%;
  font-size: 1em;
}
.main2 {
  background-color: rgb(223, 223, 25);
}
.main2 .main2__header {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 80vh;
  background-image: url(../recursos/paredasociacioncom.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.main2 .main2__header .main2__header--separador {
  width: 100%;
  height: 100px;
  position: relative;
  background-image: url(https://i.ibb.co/qM7Z5tp/separadorcasas.png);
  background-size: 30%;
  background-position: bottom;
  background-repeat: repeat-x;
}
.main2__historia {
  width: 100%;
  height: 100vh;
  background-color: rgb(223, 223, 25);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url(https://i.ibb.co/H22G9Pd/dragonrojo.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 100px;
}
.main2__historia .main2__historia--contenedor {
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.603);
  border: 5px solid white;
  box-shadow: 7px 7px 15px #592A08;
  padding: 20px;
}
.main2__historia .main2__historia--contenedor h1 {
  text-align: center;
  font-size: 5vw;
  color: darkred;
  font-weight: 600;
}
.main2__historia .main2__historia--contenedor .dragonP {
  font-size: 2vw;
  padding: 5%;
  overflow: scroll;
}
.main2__historia .main2__historia--contenedor .dragonP::-webkit-scrollbar {
  background-color: transparent;
  width: 10px;
}
.main2__historia .main2__historia--contenedor .dragonP::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.932);
  border-radius: 5px;
  border: 0.25em rgba(128, 128, 128, 0.801);
}
.main2__historia .main2__historia--contenedor .dragonP::-webkit-scrollbar-corner {
  display: none;
}
.main2__asociacionMundial {
  display: grid;
  justify-items: center;
  grid-template-rows: 1fr 2fr;
  justify-content: center;
  margin-top: 200px;
  width: 100%;
  height: 320vh;
  background-color: rgb(7, 7, 99);
  border-top-left-radius: 28%;
  border-top-right-radius: 28%;
  box-shadow: 0px 30px 20px inset rgb(1, 1, 15);
  background-image: url(https://i.ibb.co/tDNJyN6/bonsai.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-position-y: 350px;
  background-position-x: -50px;
  background-size: cover;
}
.main2__asociacionMundial .yinyang {
  text-align: center;
  align-self: flex-start;
  margin-top: 150px;
  margin-bottom: 150px;
  height: 40vh;
  width: 40vh;
}
.main2__asociacionMundial .yinyang img {
  width: 20vw;
  -webkit-animation: yinyang 8s infinite;
          animation: yinyang 8s infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}
.main2__asociacionMundial .asociacionMundial__contenedor {
  height: 100%;
  width: 90%;
  align-self: end;
  display: grid;
  align-items: baseline;
  align-content: space-between;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.3fr 1fr 1fr;
  grid-template-areas: "wtsd wtsd" "parrafo1 parrafo2" "maestros maestros";
}
.main2__asociacionMundial .asociacionMundial__contenedor #wtsd {
  text-align: center;
  font-size: 4vw;
  grid-area: wtsd;
  color: wheat;
  margin-bottom: 0%;
  text-shadow: 0px 5px 5px black;
}
.main2__asociacionMundial .asociacionMundial__contenedor .parrafo1 {
  grid-area: parrafo1;
  text-align: center;
  color: rgb(214, 205, 205);
  font-size: 2vw;
  width: 100%;
  text-align: center;
  padding: 5%;
}
.main2__asociacionMundial .asociacionMundial__contenedor .parrafo2 {
  text-align: center;
  color: rgb(214, 205, 205);
  font-size: 2vw;
  width: 100%;
  text-align: center;
  padding: 5%;
}
.main2__asociacionMundial .asociacionMundial__contenedor .main2__maestros {
  grid-area: maestros;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}
.main2__asociacionMundial .asociacionMundial__contenedor .main2__maestros .tituloMaestros {
  grid-area: tituloMaestros;
  text-transform: uppercase;
  text-align: center;
  font-size: 4.2vw;
  color: wheat;
  text-shadow: 0px 5px 5px black;
  margin-bottom: 100px;
}
.main2__asociacionMundial .asociacionMundial__contenedor .main2__maestros .maestros {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 100%;
  background-image: url(https://i.ibb.co/Dw5qjNq/imgmaestros.png);
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
  gap: 20px;
  margin-bottom: 4px;
}
.main2__asociacionMundial .asociacionMundial__contenedor .main2__maestros .maestros .btnmaestros {
  display: none;
}
.main2__separador--nubes {
  position: relative;
  align-self: flex-end;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 120px;
  background-image: url(https://i.ibb.co/bN81t31/nubesfondonegro.jpg);
  background-size: contain;
  -webkit-animation: nubes 100s infinite linear;
          animation: nubes 100s infinite linear;
  border-top: 1px solid gold;
  border-bottom: 2px solid gold;
}
.main2__separador--nubes .nubes {
  display: flex;
  align-items: center;
  position: relative;
  font-size: 7vw;
  color: rgb(211, 180, 5);
  text-align: center;
  letter-spacing: 5px;
  word-spacing: 40px;
  text-shadow: 4px 4px 0px rgb(83, 72, 8);
  -webkit-animation: scalenubes 3s infinite linear;
          animation: scalenubes 3s infinite linear;
}
.main2__viejaHistoria {
  background-color: rgb(240, 236, 236);
  width: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr;
  justify-content: center;
  padding: 50px;
  box-shadow: 0px 0px 5px 20px inset rgb(1, 1, 15);
}
.main2__viejaHistoria .main2__viejaHistoria--contenedor {
  width: 100%;
  height: 100%;
  display: flex;
}
.main2__viejaHistoria .main2__viejaHistoria--contenedor .historia__background {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(https://i.ibb.co/mB281nD/patada.png);
  background-position: left;
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 30px;
  opacity: 0.7;
}
.main2__viejaHistoria .main2__viejaHistoria--contenedor .historia {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main2__viejaHistoria .main2__viejaHistoria--contenedor .historia p {
  font-size: 1.3vw;
  width: 85%;
  height: 80%;
  text-align: center;
  margin-left: 20px;
}
.main2__viejaHistoria .main2__viejaHistoria--contenedor .historia h1 {
  font-size: 4vw;
  text-align: center;
}
.main2__viejaHistoria .main2__historiaModerna--contenedor {
  width: 100%;
  height: 100%;
  display: flex;
}
.main2__viejaHistoria .main2__historiaModerna--contenedor .historiaModerna__background {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(https://i.ibb.co/FW4yzfX/tangsoodo.png);
  background-position: right;
  background-position-x: 80%;
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 30px;
  opacity: 0.7;
}
.main2__viejaHistoria .main2__historiaModerna--contenedor .historiaModerna {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.main2__viejaHistoria .main2__historiaModerna--contenedor .historiaModerna p {
  font-size: 1.3vw;
  width: 85%;
  height: 80%;
  text-align: center;
  margin-left: 20px;
}
.main2__viejaHistoria .main2__historiaModerna--contenedor .historiaModerna h1 {
  font-size: 4vw;
  text-align: center;
}

.mainEventos {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(40deg, darkred 10%, #ffcc5c 25% 45%, black 55% 75%, blue 90%);
  height: 100vh;
}

.paginaEventos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 80%;
  height: 90vh;
  background-color: rgba(255, 255, 255, 0.199);
  box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.87);
  -webkit-backdrop-filter: blur(100px);
          backdrop-filter: blur(100px);
}
.paginaEventos .eventosTitulo {
  text-align: center;
  font-size: 5em;
  color: rgb(236, 201, 3);
  text-shadow: -2px -5px 2px black, -4px -8px 5px black;
  font-weight: 600;
}
.paginaEventos .eventosLista {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: flex-end;
  width: 100%;
  height: 60%;
  background-image: url(../recursos/campeonatoregional.jpeg);
  background-size: 100%;
  background-position-y: center;
  background-position-x: center;
  background-repeat: no-repeat;
  border: none;
  border-radius: 0;
}
.paginaEventos .eventosLista:hover {
  filter: brightness(0.8);
  transition: 0.2s;
  border: none;
}

.modal-header {
  display: flex;
  align-items: center;
}
.modal-header .modal-title {
  text-align: start;
}
.modal-header .modal-title1 {
  text-align: end;
}

.main__contacto {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: flex-end;
}

.card-body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -25px;
}

#jae,
#beaudoin,
#strong {
  background-color: rgba(0, 0, 0, 0.966);
  color: #fff;
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0px;
  top: 0px;
  transition: all 0.5s;
  transition-timing-function: ease-in-out;
  opacity: 0;
  transform: scale(0);
  z-index: 10;
}

#jae:target,
#beaudoin:target,
#strong:target {
  opacity: 1;
  transform: scale(1);
  transition: all 0.5s;
}

.cerrarjae,
.cerrarbeaudoin,
.cerrarstrong {
  position: absolute;
  top: 15px;
  right: 10px;
  padding: 0.6em;
  background-color: tomato;
  color: #fff;
  text-decoration: none;
  font-size: 0.9em;
  border-radius: 100%;
}

.abrirjae,
.abrirbeaudoin,
.abrirstrong {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.abrirjae p,
.abrirbeaudoin p,
.abrirstrong p {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 1em;
  width: 70%;
  height: 70%;
  text-align: center;
  line-height: 1.2;
  overflow-y: scroll;
}

.abrirjae p::-webkit-scrollbar,
.abrirbeaudoin p::-webkit-scrollbar,
.abrirstrong p::-webkit-scrollbar {
  background-color: transparent;
  width: 10px;
}

.abrirjae p::-webkit-scrollbar-thumb,
.abrirbeaudoin p::-webkit-scrollbar-thumb,
.abrirstrong p::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.719);
  border-radius: 5px;
  border: 0.25em rgba(128, 128, 128, 0.801);
}

.abrirjae p::-webkit-scrollbar-corner,
.abrirbeaudoin p::-webkit-scrollbar-corner,
.abrirstrong p::-webkit-scrollbar-corner {
  display: none;
}

.abrirjae img,
.abrirbeaudoin img,
.abrirstrong img {
  height: 50%;
  width: 20%;
  border-radius: 2%;
  border: 1px solid gold;
  padding: 2px;
  background-color: rgb(87, 100, 13);
}

.contacto__ins,
.contacto__wpp,
.contacto__fb {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contacto__ins a,
.contacto__wpp a,
.contacto__fb a {
  width: 60%;
}

.contacto__ins img,
.contacto__wpp img,
.contacto__fb img {
  width: 100%;
  height: 80%;
  margin-bottom: 70px;
  -webkit-animation: flotar 3s infinite;
          animation: flotar 3s infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  transition: width 0.5s, -webkit-animation 0.5s;
  transition: width 0.5s, animation 0.5s;
  transition: width 0.5s, animation 0.5s, -webkit-animation 0.5s;
}

.contacto__ins img:hover,
.contacto__wpp img:hover,
.contacto__fb img:hover {
  width: 130%;
  -webkit-animation: none;
          animation: none;
}

.contacto__ins a:hover + .sombra,
.contacto__wpp a:hover + .sombra,
.contacto__fb a:hover + .sombra {
  display: none;
}

.sombra {
  margin-left: 10px;
  max-width: 100px;
  width: 30%;
  height: 5px;
  background-color: #000;
  border-radius: 50%;
  -webkit-animation: sombra 1.5s alternate infinite linear;
          animation: sombra 1.5s alternate infinite linear;
}

@media screen and (min-width: 769px) {
  .navbar {
    display: none;
  }
  #main__principal .inicio a {
    font-size: 1.2em;
  }
  .tramado .tramadoAzul .tramadoAzul__texto .maestroTitulo {
    font-size: 2em;
    flex-direction: column;
    align-items: center;
    margin-left: 0px;
  }
  .tramadoNegro::before {
    content: "";
    background-image: url(../recursos/tramadoondas.jpg);
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.25;
    z-index: 1;
  }
  .tramadoNegro .tramadoRojo .danesTitulo {
    font-size: 5em;
  }
  .tramadoNegro .tramadoRojo .danes1 {
    height: auto;
  }
  .nuestraEscuela .nuestraEscuela__parallax::after {
    top: 20px;
  }
  .nuestraEscuela .nuestraEscuela__parallax::before {
    top: 0px;
  }
  .nuestraEscuela .nuestraEscuela__parallax .nuestraEscuela__historia p {
    font-size: 1em;
  }
  .main2__historia .main2__historia--contenedor {
    width: 70%;
    justify-content: space-between;
  }
  .main2__historia .main2__historia--contenedor h1 {
    font-size: 4em;
  }
  .main2__historia .main2__historia--contenedor p {
    font-size: 1em;
  }
  .main2__asociacionMundial {
    border-top-left-radius: 35vw;
    border-top-right-radius: 35vw;
  }
  .main2__asociacionMundial .yinyang img {
    width: 100%;
  }
  .main2__asociacionMundial .asociacionMundial__contenedor #wtsd {
    font-size: 3em;
  }
  .main2__asociacionMundial .asociacionMundial__contenedor .parrafo2 {
    height: 100%;
    display: flex;
    align-items: center;
  }
  .main2__asociacionMundial .asociacionMundial__contenedor .main2__maestros .tituloMaestros {
    font-size: 3em;
  }
  .main2__viejaHistoria .main2__viejaHistoria--contenedor .historia h1 {
    font-size: 3em;
  }
  .main2__viejaHistoria .main2__viejaHistoria--contenedor .historia p {
    font-size: 1em;
  }
  .main2__viejaHistoria .main2__historiaModerna--contenedor .historiaModerna p {
    font-size: 1em;
  }
  .mainEventos {
    height: 160vh;
  }
  .paginaEventos {
    height: 80%;
  }
  .body__contacto {
    background-position-y: 50%;
  }
}
@media screen and (min-width: 1400px) {
  #main__principal .inicio a {
    font-size: 2em;
  }
  #contacto, #eventos, #tangSoo, #escuela {
    font-size: 1.8em;
  }
  .tramado .tramadoAzul .tramadoAzul__texto .maestroTitulo {
    font-size: 2.5em;
  }
  .tramado .tramadoAzul .tramadoAzul__texto p {
    font-size: 2em;
  }
  .tramadoNegro::before {
    background-size: cover;
    background-position-x: 0%;
    background-position-y: 180%;
  }
  .nuestraEscuela .nuestraEscuela__parallax .nuestraEscuela__historia p {
    font-size: 2em;
  }
  .main2 .main2__header {
    height: 90vh;
  }
  .main2__historia {
    height: 120vh;
  }
  .main2__historia .main2__historia--contenedor h1 {
    font-size: 6em;
  }
  .main2__asociacionMundial {
    height: 400vh;
  }
  .main2__asociacionMundial .asociacionMundial__contenedor #wtsd {
    font-size: 4em;
  }
  .main2__asociacionMundial .asociacionMundial__contenedor .main2__maestros .tituloMaestros {
    font-size: 4em;
  }
  .main2__asociacionMundial .asociacionMundial__contenedor .main2__maestros .maestros a {
    width: 20%;
  }
  .mainEventos {
    height: 200vh;
  }
  .paginaEventos .eventosTitulo {
    font-size: 6em;
  }
  .body__contacto {
    background-position-y: 60%;
  }
}
@media screen and (min-width: 576px) and (max-width: 768px) {
  .navbar {
    display: none;
  }
  header nav .row #logo__img img {
    top: 0px;
  }
  .tramado {
    height: 200vh;
    flex-direction: column;
    padding-top: 50px;
  }
  .tramado .tramadoAzul {
    width: 95%;
    height: 50%;
    padding: 10px;
  }
  .tramado .tramadoAzul .tramadoAzul__texto .maestroTitulo {
    flex-direction: column;
    align-items: center;
    margin-left: 0px;
  }
  .tramado .tramadoAzul .tramadoAzul__texto .maestroTitulo div {
    font-size: 3em;
    text-shadow: 0px 0px 1px white;
  }
  .tramado .tramadoAzul .tramadoAzul__texto p {
    font-size: 1.3em;
    padding: 5%;
  }
  .tramado .carrouselDaniel {
    justify-content: space-around;
    height: 40%;
  }
  .tramadoNegro::before {
    background-position: 50%;
  }
  .tramadoNegro .tramadoRojo {
    gap: 0px;
  }
  .tramadoNegro .tramadoRojo .danesTitulo {
    font-size: 5em;
  }
  .tramadoNegro .tramadoRojo .danes1 {
    height: auto;
  }
  .tramadoNegro .tramadoRojo .danes1 .marian,
.tramadoNegro .tramadoRojo .danes1 .rocio {
    background-position-x: -50px;
  }
  .tramadoNegro .tramadoRojo .danes1 .lucas {
    background-position-x: -30px;
  }
  .nuestraEscuela .nuestraEscuela__parallax .nuestraEscuela__historia .nuestraEscuela__historiaTitulo {
    font-size: 0.7em;
  }
  .nuestraEscuela .nuestraEscuela__parallax::after {
    top: 4%;
  }
  .main2 .main2__header {
    background-attachment: scroll;
  }
  .main2 .main2__header .main2__header--separador {
    background-size: 60%;
  }
  .main2__historia {
    height: 100vh;
    margin-top: 10px;
  }
  .main2__historia .main2__historia--contenedor {
    width: 90%;
    height: 80%;
    gap: 40px;
  }
  .main2__historia .main2__historia--contenedor h1 {
    font-size: 4em;
  }
  .main2__historia .main2__historia--contenedor .dragonP {
    overflow-y: scroll;
  }
  .main2__historia .main2__historia--contenedor .dragonP p {
    font-size: 2em;
  }
  .main2__asociacionMundial {
    border-top-left-radius: 35vw;
    border-top-right-radius: 35vw;
    background-size: 180%;
    background-position-y: 18%;
    background-position-x: 60%;
  }
  .main2__asociacionMundial .yinyang {
    align-self: center;
    margin-top: 150px;
    margin-bottom: 95px;
  }
  .main2__asociacionMundial .yinyang img {
    width: 80%;
  }
  .main2__asociacionMundial .asociacionMundial__contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .main2__asociacionMundial .asociacionMundial__contenedor #wtsd {
    font-size: 2em;
    margin-bottom: 20%;
  }
  .main2__asociacionMundial .asociacionMundial__contenedor .parrafo1 {
    height: 100%;
    font-size: 1em;
  }
  .main2__asociacionMundial .asociacionMundial__contenedor .parrafo2 {
    height: 100%;
    font-size: 1em;
  }
  .main2__asociacionMundial .asociacionMundial__contenedor .main2__maestros .tituloMaestros {
    font-size: 2em;
    margin-bottom: 0px;
  }
  .main2__asociacionMundial .asociacionMundial__contenedor .main2__maestros .maestros {
    height: 100%;
  }
  .main2__asociacionMundial .asociacionMundial__contenedor .main2__maestros .maestros .btnmaestros {
    display: none;
  }
  .main2__viejaHistoria {
    gap: 50px;
    padding: 0px;
    padding-top: 50px;
    padding-inline: 20px;
  }
  .main2__viejaHistoria .main2__viejaHistoria--contenedor .historia__background {
    display: none;
  }
  .main2__viejaHistoria .main2__viejaHistoria--contenedor .historia {
    gap: 20px;
  }
  .main2__viejaHistoria .main2__viejaHistoria--contenedor .historia p {
    font-size: 0.8em;
    margin-left: 0px;
  }
  .main2__viejaHistoria .main2__viejaHistoria--contenedor .historia h1 {
    font-size: 2em;
  }
  .main2__viejaHistoria .main2__historiaModerna--contenedor .historiaModerna__background {
    display: none;
  }
  .main2__viejaHistoria .main2__historiaModerna--contenedor .historiaModerna p {
    font-size: 0.8em;
    margin-left: 0px;
  }
  .main2__viejaHistoria .main2__historiaModerna--contenedor .historiaModerna h1 {
    font-size: 2em;
  }
  .paginaEventos .eventosTitulo {
    font-size: 4em;
  }
  .body__contacto {
    background-size: 100%;
    background-position-y: 70%;
  }
  .contacto__ins,
.contacto__wpp,
.contacto__fb {
    gap: 30px;
  }
}
@media screen and (max-width: 575px) {
  #main__principal .inicio {
    display: flex;
    flex-direction: column;
  }
  #main__principal .inicio .logo {
    width: 20%;
    height: 100%;
    align-self: center;
  }
  #main__principal .inicio .escuela,
#main__principal .inicio .tangSoo,
#main__principal .inicio .eventos,
#main__principal .inicio .contacto {
    margin-left: 0px;
    border-radius: 0px;
    border-top: solid rgba(255, 255, 255, 0.116) 1px;
    font-size: 1em;
  }
  .navxl {
    display: none;
  }
  .offcanvas-backdrop {
    width: 100%;
  }
  .element.style {
    padding-right: 0px;
  }
  .navbar {
    width: 100%;
    padding: 0;
    border-bottom: 2px solid black;
  }
  .navbar .navbar__row {
    background-color: #bb2525;
    padding-inline: 15px;
  }
  .navbar .navbar__row .h1media {
    color: white;
  }
  .navbar .navbar__row #logo__img {
    background-color: transparent;
    border: 0px;
  }
  .navbar .navbar__row #logo__img img {
    position: static;
    -webkit-animation: none;
            animation: none;
  }
  .header__carrousel {
    display: none;
  }
  .headerMedia {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: end;
    background-image: url(../recursos/patadaverde.jpeg);
    background-size: cover;
    color: #000;
    text-transform: uppercase;
    text-align: end;
  }
  .headerMedia h1 {
    font-size: 2em;
    background-color: rgba(128, 128, 128, 0.8156862745);
    padding-right: 10px;
  }
  .headerMedia h2 {
    font-size: 1.6em;
    background-color: rgba(107, 107, 107, 0.8156862745);
    padding-right: 10px;
  }
  .separador {
    height: 100vh;
  }
  .separador .separador__frase--img {
    display: none;
  }
  .separador .separador__frase {
    display: flex;
    height: 100%;
    background-color: #bb2525;
    border-top: #000 5px solid;
    border-bottom: #000 5px solid;
  }
  .separador .separador__frase h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(https://i.ibb.co/Mkf5pWx/img-logo.png);
    background-repeat: no-repeat;
    background-position: center;
    font-size: 3.7em;
    line-height: 500%;
  }
  .separador .separador__frase--back {
    background-color: black;
    height: 15px;
  }
  .tramado {
    height: 200vh;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 10px;
  }
  .tramado .tramadoAzul {
    width: 95%;
    height: 50%;
    padding: 10px;
    -webkit-backdrop-filter: blur(2px);
            backdrop-filter: blur(2px);
  }
  .tramado .tramadoAzul .tramadoAzul__texto .maestroTitulo {
    flex-direction: column;
    align-items: center;
    margin-left: 0px;
  }
  .tramado .tramadoAzul .tramadoAzul__texto .maestroTitulo div {
    font-size: 3em;
    text-shadow: 0px 0px 1px white;
  }
  .tramado .tramadoAzul .tramadoAzul__texto p {
    font-size: 1.3em;
    padding: 5%;
  }
  .carrouselDaniel {
    width: 90%;
    height: 45%;
    margin-bottom: 10px;
  }
  .tramadoNegro::before {
    background-position: 50%;
  }
  .tramadoNegro {
    height: 180vh;
  }
  .tramadoNegro .tramadoRojo {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    box-shadow: none;
    -webkit-backdrop-filter: blur(0px);
            backdrop-filter: blur(0px);
    gap: 10%;
    padding-left: 0px;
    padding-right: 0px;
  }
  .tramadoNegro .tramadoRojo .danesTitulo {
    font-size: 4em;
    margin-top: 30px;
  }
  .tramadoNegro .tramadoRojo .danes1 {
    height: 70%;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .tramadoNegro .tramadoRojo .danes1 .lucas,
.tramadoNegro .tramadoRojo .danes1 .rocio {
    width: 60%;
    height: 50%;
    background-position-y: -30px;
  }
  .tramadoNegro .tramadoRojo .danes1 .marian {
    width: 60%;
    height: 50%;
    background-position-y: -50px;
  }
  .nuestraEscuela {
    height: 120vh;
    background-attachment: scroll;
  }
  .nuestraEscuela .nuestraEscuela__parallax::after {
    top: 10px;
    right: 20px;
  }
  .nuestraEscuela .nuestraEscuela__parallax::before {
    top: 5px;
    left: 10px;
  }
  .nuestraEscuela .nuestraEscuela__parallax .nuestraEscuela__historia .nuestraEscuela__historiaTitulo h5 {
    font-size: 2.5em;
  }
  .nuestraEscuela .nuestraEscuela__parallax .nuestraEscuela__historia p {
    font-size: 0.9em;
    height: 70%;
  }
  .main2 .main2__header {
    background-attachment: scroll;
    background-image: url(../recursos/paredasociacioncla.jpg);
  }
  .main2 .main2__header .main2__header--separador {
    background-size: 60%;
  }
  .main2 .main2__historia {
    height: 100vh;
    margin-top: 10px;
  }
  .main2 .main2__historia .main2__historia--contenedor {
    width: 90%;
    height: 80%;
    gap: 40px;
  }
  .main2 .main2__historia .main2__historia--contenedor h1 {
    font-size: 4em;
  }
  .main2 .main2__historia .main2__historia--contenedor .dragonP {
    overflow-y: scroll;
  }
  .main2 .main2__historia .main2__historia--contenedor .dragonP p {
    font-size: 2em;
  }
  .main2__asociacionMundial {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 330vh;
    margin-top: 0px;
    border-top-left-radius: 35vw;
    border-top-right-radius: 35vw;
    background-size: 200%;
    background-position-y: 18%;
    background-position-x: 60%;
  }
  .main2__asociacionMundial .yinyang {
    align-self: center;
    margin-top: 150px;
    margin-bottom: 95px;
  }
  .main2__asociacionMundial .yinyang img {
    width: 70%;
  }
  .main2__asociacionMundial .asociacionMundial__contenedor {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(180deg, transparent 0% 25%, rgba(0, 0, 0, 0.2235294118) 30%, black 40% 67%, transparent 80% 100%);
  }
  .main2__asociacionMundial .asociacionMundial__contenedor #wtsd {
    font-size: 2em;
    margin-bottom: 20%;
  }
  .main2__asociacionMundial .asociacionMundial__contenedor .parrafo1 {
    height: 100%;
    font-size: 1em;
  }
  .main2__asociacionMundial .asociacionMundial__contenedor .parrafo2 {
    height: 100%;
    font-size: 1em;
  }
  .main2__asociacionMundial .asociacionMundial__contenedor .main2__maestros {
    justify-content: end;
    gap: 50px;
  }
  .main2__asociacionMundial .asociacionMundial__contenedor .main2__maestros .tituloMaestros {
    font-size: 2em;
    margin-bottom: 0px;
  }
  .main2__asociacionMundial .asociacionMundial__contenedor .main2__maestros .maestros {
    height: 100%;
  }
  .main2__asociacionMundial .asociacionMundial__contenedor .main2__maestros .maestros a {
    display: none;
  }
  .main2__asociacionMundial .asociacionMundial__contenedor .main2__maestros .maestros .btnmaestros {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 12%;
    font-size: 1em;
    padding: 5px;
    border: none;
    background-color: #8b0000;
  }
  .main2__separador--nubes {
    height: 100vh;
    -webkit-animation: nubes 10s infinite linear;
            animation: nubes 10s infinite linear;
    border-top: 2px solid gold;
    border-bottom: 2px solid gold;
    overflow: hidden;
  }
  .main2__separador--nubes .nubes {
    justify-content: center;
    height: 40%;
    width: 100%;
    text-shadow: none;
    font-weight: 600;
    background-color: rgba(0, 0, 0, 0.9098039216);
    font-size: 2.7em;
    -webkit-animation: scalenubes 3s infinite linear;
            animation: scalenubes 3s infinite linear;
  }
  .main2__viejaHistoria {
    gap: 50px;
    padding: 0px;
    padding-top: 50px;
    padding-inline: 20px;
  }
  .main2__viejaHistoria .main2__viejaHistoria--contenedor .historia__background {
    display: none;
  }
  .main2__viejaHistoria .main2__viejaHistoria--contenedor .historia {
    gap: 20px;
  }
  .main2__viejaHistoria .main2__viejaHistoria--contenedor .historia p {
    font-size: 0.8em;
    margin-left: 0px;
  }
  .main2__viejaHistoria .main2__viejaHistoria--contenedor .historia h1 {
    font-size: 2em;
  }
  .main2__viejaHistoria .main2__historiaModerna--contenedor .historiaModerna__background {
    display: none;
  }
  .main2__viejaHistoria .main2__historiaModerna--contenedor .historiaModerna p {
    font-size: 0.8em;
    margin-left: 0px;
  }
  .main2__viejaHistoria .main2__historiaModerna--contenedor .historiaModerna h1 {
    font-size: 2em;
  }
  .paginaEventos {
    margin-top: 57px;
    width: 90%;
    height: 80%;
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
  }
  .paginaEventos .eventosTitulo {
    font-size: 3em;
    color: ecc903;
    text-shadow: -1px -3px 2px black, -3px -5px 5px black;
  }
  .paginaEventos .eventosLista {
    height: 70%;
  }
  .body__contacto {
    background-image: url(../recursos/manuallargo.jpg);
    background-size: 120%;
    background-position-x: 55%;
    background-repeat: no-repeat;
  }
  .body__contacto .main__contacto {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-block: 50px;
  }
  .body__contacto .main__contacto .contacto__ins,
.body__contacto .main__contacto .contacto__wpp,
.body__contacto .main__contacto .contacto__fb {
    height: 70vh;
  }
  .body__contacto .main__contacto .contacto__ins a,
.body__contacto .main__contacto .contacto__wpp a,
.body__contacto .main__contacto .contacto__fb a {
    display: flex;
    justify-content: center;
  }
  .body__contacto .main__contacto .contacto__ins img,
.body__contacto .main__contacto .contacto__wpp img,
.body__contacto .main__contacto .contacto__fb img {
    height: auto;
    width: 85%;
  }
  .dk-footer--row .col-6 {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .dk-footer--row .col-6 .row {
    flex-direction: column;
    padding-top: 10px;
  }
  .dk-footer .contact-us {
    padding-left: 0px;
  }
  .dk-footer .contact-us .contact-info {
    margin-left: 0px;
    margin-top: 10px;
  }
  .footer-left-widget {
    display: none;
  }
  .copy {
    text-align: center;
    padding: 2px;
  }
}
@media screen and (max-width: 475px) {
  .tramadoNegro {
    height: 200vh;
  }
  .tramadoNegro .tramadoRojo .danes1 {
    height: 70%;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .tramadoNegro .tramadoRojo .danes1 .lucas,
.tramadoNegro .tramadoRojo .danes1 .rocio {
    width: 90%;
    height: 43%;
    background-position-y: -50px;
  }
  .tramadoNegro .tramadoRojo .danes1 .marian {
    width: 90%;
    height: 43%;
    background-position-y: -100px;
  }
  .main2__asociacionMundial .asociacionMundial__contenedor #wtsd,
.main2__asociacionMundial .asociacionMundial__contenedor .main2__maestros .tituloMaestros {
    padding-inline: 10px;
  }
  .main2__separador--nubes .nubes {
    height: 55%;
    margin-top: 60px;
  }
  .body__contacto .main__contacto {
    height: 180vh;
  }
  .body__contacto .main__contacto .contacto__ins,
.body__contacto .main__contacto .contacto__wpp,
.body__contacto .main__contacto .contacto__fb {
    height: 70vh;
  }
  .body__contacto .main__contacto .contacto__ins a,
.body__contacto .main__contacto .contacto__wpp a,
.body__contacto .main__contacto .contacto__fb a {
    display: flex;
    justify-content: center;
  }
  .body__contacto .main__contacto .contacto__ins img,
.body__contacto .main__contacto .contacto__wpp img,
.body__contacto .main__contacto .contacto__fb img {
    height: auto;
    width: 70%;
  }
  .sombra {
    width: 12%;
    margin-left: 0px;
  }
}
@media screen and (max-width: 475px) {
  #main__principal .inicio .logo {
    width: 25%;
  }
  .main2 .main2__historia .main2__historia--contenedor h1 {
    font-size: 3.5em;
  }
  .paginaEventos .eventosTitulo {
    font-size: 2.5em;
  }
  .paginaEventos .eventosLista {
    height: 50%;
  }
}
@media screen and (max-width: 375px) {
  #main__principal .inicio .logo {
    width: 30%;
  }
  .main2 .main2__historia .main2__historia--contenedor h1 {
    font-size: 3em;
  }
  .main2__separador--nubes .nubes {
    height: 60%;
    margin-top: 0px;
  }
  .body__contacto {
    background-position-y: -200px;
  }
  .sombra {
    width: 15%;
    margin-left: 0px;
  }
}
@media screen and (max-width: 375px) {
  .separador .separador__frase h2 {
    font-size: 3em;
    line-height: 700%;
  }
  .tramado .tramadoAzul .tramadoAzul__texto p {
    font-size: 1em;
  }
  .tramadoNegro .tramadoRojo .danesTitulo {
    font-size: 3.5em;
  }
  .tramadoNegro .tramadoRojo .danes1 {
    height: 70%;
    gap: 10px;
  }
  .tramadoNegro .tramadoRojo .danes1 .lucas,
.tramadoNegro .tramadoRojo .danes1 .rocio {
    width: 100%;
    height: 30%;
    background-position-y: -20px;
  }
  .tramadoNegro .tramadoRojo .danes1 .marian {
    width: 100%;
    height: 30%;
    background-position-y: -80px;
  }
  .nuestraEscuela .nuestraEscuela__parallax .nuestraEscuela__historia .nuestraEscuela__historiaTitulo h5 {
    font-size: 2em;
  }
  .main2 .main2__header .main2__header--separador {
    background-size: 90%;
  }
  .main2__asociacionMundial {
    background-position-y: 450px;
  }
}
@media screen and (max-width: 360px) {
  .body__contacto {
    background-position-y: -160px;
  }
}
@media screen and (max-width: 344px) {
  .main2 .main2__historia .main2__historia--contenedor h1 {
    font-size: 2.7em;
  }
  .main2__asociacionMundial {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }
  .main2__asociacionMundial {
    background-position-y: 480px;
  }
  .main2__separador--nubes .nubes {
    height: 60%;
    margin-top: 10px;
  }
  .paginaEventos .eventosLista {
    height: 40%;
  }
  .body__contacto {
    background-position-y: -50px;
  }
  .body__contacto .main__contacto .contacto__ins img,
.body__contacto .main__contacto .contacto__wpp img,
.body__contacto .main__contacto .contacto__fb img {
    width: 90%;
  }
}
@media screen and (max-width: 344px) {
  .body__contacto {
    background-position-y: 50px;
    background-repeat: repeat;
  }
}/*# sourceMappingURL=styles.css.map */