

.card-body{
    @include display();
    margin-top: -25px;

}

%card{
    width: 25vw;
    height: 35vh;
    border: 1px solid black;
    padding: .6px;
    background-color: white;
    
    

}


.btnjae, .btnbeaudoin, .btnstrong, .btnmaestros {
    @extend %btn;
    z-index: 2;
    

}
.btnjae:hover, .btnbeaudoin:hover, .btnstrong:hover, .btnmaestros:hover {
    @extend %btn;
    
    border-left: 20px solid darkred;
    color: black;
    

}


#jae,
#beaudoin,
#strong {
    background-color: rgba(0, 0, 0, 0.966);
    color: #fff;
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0px;
    top: 0px;
    transition: all .5s;
    transition-timing-function: ease-in-out;
    opacity: 0;
    transform: scale(0);
    z-index: 10;

}





#jae:target,
#beaudoin:target,
#strong:target {
    opacity: 1;
    transform: scale(1);
    transition: all .5s;
}




.cerrarjae,
.cerrarbeaudoin,
.cerrarstrong {
    position: absolute;
    top: 15px;
    right: 10px;
    padding: .6em;
    background-color: tomato;
    color: #fff;
    text-decoration: none;
    font-size: .9em;
    border-radius: 100%;

}


.abrirjae,
.abrirbeaudoin,
.abrirstrong {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;

}


.abrirjae p,
.abrirbeaudoin p,
.abrirstrong p {
    display: flex;
    align-items: center;
    font-size: 1.2vw;
    width: 70%;
    height: 80%;
    text-align: center;
    line-height: 1.2;
    overflow-y: scroll;

    &::-webkit-scrollbar {
        @extend %whitescrollbar
    }

    &::-webkit-scrollbar-thumb {
        @extend %whitescrollbar-thumb
    }

    &::-webkit-scrollbar-corner {
        @extend %whitescrollbar-corner
    }
}

.abrirjae img,
.abrirbeaudoin img,
.abrirstrong img{
    height: 60%;
    width: 20%;
    border-radius: 2%;
    border: 1px solid gold;
    padding: 2px;
    background-color: rgb(87, 100, 13);
}

