.header__carrousel {
    height: 90vh;
    z-index: -1;
}


.carrouselDaniel {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    z-index: 5;
    width: 40vw;
    height: 80%;
  

    .carrouselDaniel__inner {
        position: relative;
        padding: 0px;

    }
}