.paginaEventos{
    // @include display();
    width: 100%;
    height: 100vh;


        .eventosTitulo{
            text-align: center;
            font-size: 6vw;
            color: rgb(236, 201, 3);
            text-shadow: -2px -5px 2px black, -4px -8px 5px black;
            font-weight: 600;
        }

        .eventosLista{
            @include display ();
            align-items: flex-end;
            width: 100%;
            height: 50%;
           

        }
    }
