@keyframes rotate {
    from {
        background-image: url(https://i.ibb.co/VVsCC42/logotipo.png);
        background-position: center;
        background-size: 90%;
        transform: rotatey(0deg);
    }

    100% {
        background-image: url(https://i.ibb.co/Symszvt/logowtsd1.png);
        background-size: 90%;
        background-position: center;
        transform: rotatey(180deg);
    }
}


@keyframes yinyang {
    from {
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(360deg);
    }
}

@keyframes nubes {
    from {
        background-position-x: 0;
    }
    to {
        background-position-x: 100vw;
    }
}


@keyframes scalenubes {
    from{ transform: scale(1);}
    50%{ transform: scale(1.02);}
    
}




@keyframes flotar {
    from {
        transform: translateY(0);

    }

    50% {
        transform: translateY(80px);

    }

    100% {
        transform: translateY(0)
    }
}

@keyframes sombra {
    0% {
        transform: scale(.8);
    }

    100% {
        transform: scale(1.3);
    }
}

@keyframes bajar {
    from {
        transform: translateY(-80px);
    }

    to {
        transform: translateY(0);
    }
}

@keyframes izquierda {
    from {
        transform: translateX(-190px);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes aparecer {
    from {
        transform: scale(0);

    }

    to {
        transform: scale(1);
    }
}

@keyframes start {
    0%{ justify-content: center;}
    100%{justify-content: flex-start;}
    
}

  
  @keyframes slidein {
      0% { margin-left:-300vw; }
      20% { margin-left:-300vw; }
      35% { margin-left:0px;}
      100% { margin-left:0px; }
  }
  
  @keyframes reveal {
      0% {opacity:0;width:0px;}
      20% {opacity:1;width:0px;}
      30% {width:50%;}
      80% {opacity:1;}
      100% {opacity:0;width:50%;}
  }



@keyframes showup {
    0%{text-shadow: 0px 0px 2px white;}
    25%{text-shadow: 0px 0px 4px white;}
    50%{text-shadow: 0px 0px 5px white;}
    60%{text-shadow: 0px 0px 5px white;}
    75%{text-shadow: 0px 0px 4px white;}
    100%{text-shadow: 0px 0px 2px white;}
    
}


  @keyframes slideinF {
    0% { margin-left:300vw; }
    20% { margin-left:300vw; }
    35% { margin-left:0px;}
    50% { margin-left:0px;}
    65%{ margin-left:0px;}
    80% { margin-left:0px; }
    100% { margin-left:-150vw; }
}

  @keyframes slideinE {
    0% { margin-left:-150vw; }
    20% { margin-left:-150vw; }
    35% { margin-left:0px;}
    50% { margin-left:0px;}
    65%{ margin-left:0px;}
    80% { margin-left:0px; }
    100% { margin-left:300vw; }
}



