.logo{
    grid-area: logo;
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: contain;
    animation-name: rotate;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-direction: alternate;
    animation-fill-mode: forwards;

}

// a #logo__img{
//     display: flex;
//     cursor: pointer;
//     position: relative;
//     padding-left: 0px;
//     width: 11%;
//     height: 57px;
//     z-index: 1;
//     background-color:rgba(0, 0, 0, 0.864)

    
// }

// a #logo__img img{
//     z-index: 5;
//     position: relative;
//     transform: translateY(-10px);
//     width: 100%;
//     height: auto;
//     height: 57px;
//     animation: izquierda 1.2s linear forwards;
// }