

.logo{
    grid-area: logo;
    @include display();
    background-repeat: no-repeat;
    animation-name: rotate;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-direction: alternate;
}
