#main__principal {
    background-image: url(https://i.ibb.co/jfYxt5z/pisoasociacion.png);
    background-size: cover;

    .inicio {
        height: 100vh;
        display: grid;
        grid-template-rows: 1fr 1fr 0.2fr;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: "logo     logo     escuela tangsoo eventos"
                             "logo     logo     escuela tangsoo eventos"
                             "contacto contacto contacto contacto contacto";
        
        a {
        text-decoration: none;
        font-size: 2vw;
        font-weight: bold;
        text-align: center;
        }   

    }
}