.main2 {
    background-color: rgb(223, 223, 25);

    .main2__header {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 80vh;
        background-image: url(../recursos/paredasociacioncom.jpg);
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

        .main2__header--separador {
            width: 100%;
            height: 100px;
            position: relative;
            background-image: url(https://i.ibb.co/qM7Z5tp/separadorcasas.png);
            background-size: 30%;
            background-position: bottom;
            background-repeat: repeat-x;
        }
    }

    &__historia {

        width: 100%;
        height: 100vh;
        background-color: rgb(223, 223, 25);
        @include display();
        flex-direction: column;
        background-image: url(https://i.ibb.co/H22G9Pd/dragonrojo.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        margin-top: 100px;

        .main2__historia--contenedor {
            width: 60%;
            @include display();
            flex-direction: column;
            text-align: center;
            background-color: rgba(255, 255, 255, 0.603);
            border: 5px solid white;
            box-shadow: 7px 7px 15px #592A08;
            padding: 20px;

            h1 {
                text-align: center;
                font-size: 5vw;
                color: darkred;
                margin-bottom: 60px;
            }

            p {
                font-size: 2vw;
            }
        }

    }

    &__asociacionMundial {
        display: grid;
        justify-items: center;
        grid-template-rows: 1fr 2fr;
        justify-content: center;
        margin-top: 200px;
        width: 100%;
        height: 250vh;
        background-color: rgb(7, 7, 99);
        border-top-left-radius: 28%;
        border-top-right-radius: 28%;
        box-shadow: 0px 30px 20px inset rgb(1, 1, 15);
        background-image: url(https://i.ibb.co/tDNJyN6/bonsai.png);
        background-repeat: no-repeat;
        background-position: bottom;
        background-position-y: 350px;
        background-position-x: -50px;
        background-size: cover;

        .yinyang {
            text-align: center;
            align-self: flex-start;
            margin-top: 150px;
            margin-bottom: 150px;
            height: 40vh;
            width: 40vh;

            img {
                width: 20vw;
                animation: yinyang 8s infinite;
                animation-timing-function: linear;

            }

        }

        .asociacionMundial__contenedor {
            height: 100%;
            width: 90%;
            align-self: end;
            display: grid;
            align-items: baseline;
            align-content: space-between;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 2fr 2fr;
            grid-template-areas: "wtsd wtsd"
                "parrafo1 parrafo2"
                "maestros maestros"
            ;

            #wtsd {
                text-align: center;
                font-size: 4vw;
                grid-area: wtsd;
                color: rgb(214, 205, 205);
                margin-bottom: 0%;
            }

            .parrafo1 {
                grid-area: parrafo1;
                text-align: center;
                color: rgb(214, 205, 205);
                font-size: 1.5vw;
                width: 100%;
                text-align: center;
            }

            .parrafo2 {
                text-align: center;
                color: rgb(214, 205, 205);
                font-size: 1.5vw;
                width: 100%;
                text-align: center;
            }

            .main2__maestros {
                grid-area: maestros;
                display: flex;
                align-items: end;
                gap: 20px;
                padding-bottom: 20px;
                margin-bottom: 2px;
                justify-content: center;
                width: 100%;
                height: 100%;
                background-image: url(https://i.ibb.co/Dw5qjNq/imgmaestros.png);
                background-size: contain;
                background-position: bottom;
                background-repeat: no-repeat;

                .btnmaestros{
                    display: none;
                }
                

            }
        }

    }

    &__separador--nubes {
        position: relative;
        align-self: flex-end;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 120px;
        background-image: url(https://i.ibb.co/bN81t31/nubesfondonegro.jpg);
        background-size: contain;
        animation: nubes 100s infinite linear;
        border-top: 1px solid gold;
        border-bottom: 2px solid gold;
        

        .nubes {

            max-height: 100%;
            font-size: 7vw;
            color: rgb(211, 180, 5);
            text-align: center;
            letter-spacing: 5px;
            word-spacing: 40px;
            top: -7px;
            text-shadow: 4px 4px 0px rgb(83, 72, 8);
            animation: scalenubes 3s infinite linear;
        }


    }

    &__viejaHistoria {
        background-color: rgb(240, 236, 236);
        width: 100%;
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
        justify-content: center;
        padding: 50px;
        box-shadow: 0px 0px 5px 20px inset rgb(1, 1, 15);

        .main2__viejaHistoria--contenedor {
            width: 100%;
            height: 100%;
            display: flex;
            


            .historia__background {
                width: 100%;
                height: 100%;
                @include display();
                background-image: url(https://i.ibb.co/mB281nD/patada.png);
                background-position: left;
                background-size: contain;
                background-repeat: no-repeat;
                margin-left: 30px;
                opacity: 0.7;
            }

            .historia {
                
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;

                p {
                    
                    font-size: 1.3vw;
                    width: 85%;
                    height: 80%;
                    text-align: center;
                    margin-left: 20px;
  
                }

                h1 {
                    font-size: 4vw;
                    text-align: center;

                }

            }

        }

        .main2__historiaModerna--contenedor {
            width: 100%;
            height: 100%;
            display: flex;

            .historiaModerna__background {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                background-image: url(https://i.ibb.co/FW4yzfX/tangsoodo.png);
                background-position: right;
                background-position-x: 80%;
                background-size: contain;
                background-repeat: no-repeat;
                margin-left: 30px;
                opacity: 0.7;
            }

            .historiaModerna {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;

                p {
                    font-size: 1.3vw;
                    width: 85%;
                    height: 80%;
                    text-align: center;
                    margin-left: 20px;
                }

                h1 {
                    font-size: 4vw;
                    text-align: center;

                }

            }



        }
    }

}