@media screen and (min-width:769px) and (max-width:1024px) {
    .navbar {
        display: none;
    }

    #main__principal .inicio a {
        font-size: 1.2em;
    }

    .tramado .tramadoAzul .tramadoAzul__texto .maestroTitulo {
        font-size: 2em;
        flex-direction: column;
        align-items: center;
        margin-left: 0px;
    }

    .tramadoNegro::before {
        content: "";
        background-image: url(../recursos/tramadoondas.jpg);
        background-size: cover;
        background-position: center;
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        opacity: 0.25;
        z-index: 1;

    }

    .tramadoNegro .tramadoRojo {
        .danesTitulo {
            font-size: 5em;
        }

        .danes1 {
            height: auto;
        }

    }

    .nuestraEscuela {
        .nuestraEscuela__parallax::after {
            top: 20px;
        }

        .nuestraEscuela__parallax::before {
            top: 0px;

        }

        .nuestraEscuela__parallax .nuestraEscuela__historia p {
            font-size: 1em;
        }

    }


    .main2__historia .main2__historia--contenedor {
        width: 70%;
        justify-content: space-between;

        h1 {
            font-size: 4em;
        }

        p {
            font-size: 1em;
        }
    }


    .main2__asociacionMundial {
        border-top-left-radius: 35vw;
        border-top-right-radius: 35vw;

        .yinyang img {
            width: 100%;
        }

        .asociacionMundial__contenedor {

            #wtsd {
                font-size: 3em;
            }

            .parrafo2 {
                height: 100%;
                display: flex;
                align-items: center;
            }

            .main2__maestros .tituloMaestros{
                font-size: 3em;
            }

        }
    }

    .main2__viejaHistoria{
        .main2__viejaHistoria--contenedor{

            
            .historia{
                h1{
                    font-size: 3em;
                }
                p{
                    font-size: 1em;
                }
            } 
            
    
        } 
        .main2__historiaModerna--contenedor{
            .historiaModerna{
                p{
                    font-size: 1em;
                }
            }
        }

    } 

    



}