.tramado {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 180vh;
    background-image: url(../recursos/tramadoondas.jpg);
    background-position: center;
    background-size: cover;
    position: relative;

    .tramadoOndas {
        width: 50%;
        height: 60%;
        @include display();
        flex-direction: column;
        background-color: rgba(0, 4, 211, 0.719);
        border: 15px solid rgba(0, 4, 211, 0.212);
        padding-right: 10px;
        box-shadow: 7px 7px 15px rgb(1, 1, 97);

        .tramadoOndas__texto {
            width: 100%;
            display: flex;
            flex-direction: column;
            text-align: center;
            overflow: hidden;
            align-items: center;
            padding-top: 50px;


            .maestroTitulo {
                width: 90%;
                display: flex;
                justify-content: center;
                font-size: 2.5vw;
                font-weight: 600;
                color: black;
                text-transform: uppercase;
                animation: margin .1s forwards ease-in;
                margin-bottom: 5%;
                margin-left: -50px;


                div {
                    display: flex;
                    justify-content: space-around;
                    white-space: nowrap;
                    text-shadow: 0px 0px 2px white;
                }

                .maestro {
                    
                    width: 20%;
                    animation: reveal 7s infinite linear;

                }

                .ayalaDaniel {               
                    animation: reveal 7s infinite;
                }

                .ayalaDaniel span {
                    animation: slidein 7s infinite;

                }

            }



            p {
                font-size: 1.5vw;
                overflow: scroll;
                padding: 8%;
                color: black;
                align-self: center;

                &::-webkit-scrollbar {
                    background-color: transparent;
                    width: 10px;
                }

                &::-webkit-scrollbar-thumb {
                    background-color: rgba(211, 7, 0, 0.719);
                    border-radius: 5px;
                    border: .25em rgba(128, 128, 128, 0.801);
                }

                &::-webkit-scrollbar-corner {
                    display: none;
                }
            }
        }
    }
}


.tramadoNegro {
    @include display();
    position: relative;
    width: 100%;
    height: 220vh;
    background-color: black;
    padding-top: 10%;
    padding-bottom: 10%;

    &::before {
        content: "";
        background-image: url(../recursos/tramadoondas.jpg);
        background-position-x: -5px;
        background-position-y: -210px;
        background-size: cover;
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        opacity: 0.25;
        z-index: 1;
    }

    .tramadoOndas1 {
        width: 90%;
        height: 90%;
        display: flex;
        align-items: flex-start;
        background-color: rgba(248, 14, 6, 0.575);
        backdrop-filter: blur(3px);
        z-index: 1;
        border: 15px solid rgba(139, 4, 4, 0.589);
        padding-right: 15px;
        padding-left: 15px;
        box-shadow: 7px 7px 15px rgb(66, 3, 3);
        gap: 20%;



        .danesTitulo {
            width: 100%;
            color: #000;
            margin-top: 50px;
            text-align: center;
            text-shadow: 0px 0px 5px white;
            font-weight: bold;
            font-size: 6em;
            animation: showup 2s infinite ease-in-out;
            text-transform: uppercase;
        }


        .danes1{
            display: flex;
            align-items: start;
            justify-content: space-around;
            width: 100%;
            height: 100%;
        
            .marian{
                
                width: 30%;
                height: 90vh;
                background-image: url(../recursos/danmarianlargo.jpeg);
                background-size: cover;
                background-repeat: no-repeat;
                border-radius:5px;
                box-shadow: 0px 0px 5px black;
                border-left: 1px solid white;

                &:hover{
                    filter: brightness(.6);
                }
            }

            .lucas{
                
                width: 30%;
                height: 90vh;
                background-image: url(../recursos/danlucaslargo.jpeg);
                background-size: cover;
                background-repeat: no-repeat;
                border-radius:5px;
                box-shadow: 0px 0px 5px black;
                border-left: 1px solid white;

                &:hover{
                    filter: brightness(.6);
                }
            }

            .rocio{
                
                width: 30%;
                height: 90vh;
                background-image: url(../recursos/danrociolargo.jpeg);
                background-size: cover;
                background-repeat: no-repeat;
                border-radius:5px;
                box-shadow: 0px 0px 5px black;
                border-left: 1px solid white;
                &:hover{
                    filter: brightness(.6);
                }
            }
        }
    }
}

.dan{
    background-color: white;
    height: 80vh;

    .modal-header{
        background-color: darkred;  
    .modal-title{
        width: 100%;
        height: 100%;
        color: white;
    }
    }
    .modal-footer{
        border-top: 2px solid black;
        background-color: rgb(182, 182, 182);
    }

}