/*Variables de mixin*/


@mixin display {
    display: flex;
    justify-content: center ;
    align-items: center;
    
}
@mixin mp0($m0,$p0) {
    margin: $m0;
    padding: $p0;
}

/*Variables de Elementos*/


%whitescrollbar {
    background-color: transparent;
    width: 10px;
}

%whitescrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.719);
    border-radius: 5px;
    border: .25em rgba(128, 128, 128, 0.801);
}

%whitescrollbar-corner {
    display: none;
}

%logo{

    max-height: 57px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    position: relative;
    padding-left: 0px;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.664);
    overflow: visible;
    border-bottom: 2px solid black;
}

%logoImg{
    height: 11vw;
    position: relative;
    object-fit: contain;
    animation: izquierda 1.2s linear forwards;
    top: -10px;
}


%btn {
    @include display();
    width: 15vw;
    height: 6vh;
    font-size: 1.2vw;
    border-bottom-color: rgb(73, 73, 73);
    border-bottom-width: 4px;
    border-right-width: 4px;
    border-bottom-style: solid;
    border-right-style: solid;
    border-right-color: rgb(73, 73, 73);
    border-top-color: rgb(73, 73, 73);
    border-left: 10px solid rgba(255, 255, 255, 0.733);
    transition: 0.3s;
    background-color: rgb(102, 101, 101);
    
}








/*Variables de Colores*/


$colores: (
    escuela: #5c0000cb,
    tangSoo: #010132bb,
    eventos: #8585089d,
    contacto: #ffffff86,
    navbar:#bb2525,
    nbh1:#808080d0,
    nbh2:#6b6b6bd0,
    rojoOscuro:#8b0000,
    separadorD:ecc903,

)