%btn {
    width: 50%;
    height: 20%;
    font-size: 1.2vw;
    border-bottom-color: rgb(47, 98, 139);
    border-bottom-width: 4px;
    border-right-width: 4px;
    border-bottom-style: solid;
    border-right-style: solid;
    border-right-color: rgb(30, 68, 99);
    transition: 0.3s;


}